body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html {
    box-sizing: border-box;
}
.header{
    background-color: #00CED1;
    color: white;
    padding: 1px 7px;
    
}
.content{
    
    display: flex;
    margin: 10px;
    
}

.content1{
    
    display: flex;
    margin: 10px;
}
.colum{
    border: none;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
}
.container{
    margin-left: 50px;
}
.colum:hover {
    background-color: 	#f4d1d1;
}
.card{
    width: 100%;
    
}
.card>img{
   
    width: 100%;
}